{% extends 'base.html' %}
{% block title %}task{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<a href="/task/task_create" type="button" class="btn btn-primary">Create Task</a>
<table id="task_list" class="display" style="width:100%;">
    <thead>
    <tr>
        <th>Title</th>
        <th>Source</th>
        <th>Content</th>
        <th></th>
    </tr>
    </thead>
</table>


{% endblock %}

{% block script %}
<script charset="utf8" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script charset="utf8"
        src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script>
    let table = $('#task_list').DataTable({
        "ajax": {
            "url": "/task/dt_task",
        },
        "processing": true,
        "serverSide": true,
        "columns": [
            {"data": "title"},
            {"data": "source"},
            {
                "width": "30%",
                "data": "content"
            },
            {
                "data": null, // This is for the Edit button
                "orderable": false, // Disable sorting for this column
                "searchable": false, // Disable searching for this column
                "render": function (data, type, row) {
                    return '<button class="btn btn-primary edit-task" data-edit_url ="' + row.edit_url + '">Edit</button>';
                }
            },
    
        ],
        "language": {
            search: '<i class="fa fa-filter" aria-hidden="true">Search</i>',
            searchPlaceholder: 'Enter Title or Source'
        },
    });

    // Handle the Edit button click event
    $('#task_list tbody').on('click', '.edit-task', function () {
        console.log($(this).data('edit_url'))
        window.location.replace($(this).data('edit_url'))
    });
</script>
{% endblock %}
