{% extends 'base.html' %}
{% block title %}task_create{% endblock %}

{% block content %}

<a href="/task" type="button" class="btn btn-primary">Task List</a>
{% if existing_file %}
            <div>
                <p>Current File:</p>
                <img src="{{ image_url }}" alt="Uploaded File" style="max-width: 500px; max-height: 500px;">
            </div>
        {% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}

{% block script %}
<script>
    window.addEventListener('beforeunload', function () {
        // Send an AJAX request to unlock the task
        navigator.sendBeacon('/task/task_unlock/', new URLSearchParams({
            task_id: '{{ task.id }}' // Pass the task ID dynamically
        }));
    });
</script>

{% endblock %}
